#root
{
  width: 100%;
}
/*Home.tsx*/
.container {
 padding: 0%; 
 margin: 0%;
}
.container .imgback {
    width: 100%;
    position: fixed;
    margin-left: 0%;
}
.container .content {
    position:absolute;
    background: rgb(0, 0, 0);  /*Fallback color */
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color:beige;
    width: 100%;
    height:100%;
    text-align: center;
}
.content
{
  position: fixed;
}
.container  h1{
      padding-top: 9%;
      font-size:600%;
      font-style: inherit;
      font-family:serif;
      opacity: 0.1; /* Start at 50% opacity */
      animation: fadeIn 2s ease-in-out forwards; /* Adjust timing as needed */
      font-weight: bold;   
}
.content p{
      font-size:120%;
      font-style: inherit;
      font-family:serif;
      position: relative;
     
}
.hometext ,.text{
  opacity: 0,1; /* Start at 50% opacity */
  animation: fadeIn 2s ease-in-out forwards; /* Adjust timing as needed */
}
@keyframes fadeIn {
  from {
      opacity: 0.1;
  }
  to {
      opacity: 1;
  }
}
.content p:hover, h1:hover{
      color:rgb(218, 165, 32);
}
.content2 
{
    padding-top: 5%;
}
.btn
{     
      font-size: 200%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      padding-right: 2%;
      font-weight: bold;
      text-decoration: none;
      color: bisque;
}
.btn:hover{
      color:brown;
}

/*SignUp*/
/*SignIn*/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between rows */
  align-items: center;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border-radius: 0.5rem;
  margin-left: 1%;
}
.login
{
  margin-top: 1%;
}
.login p:hover{
  color: beige;
}
.btn2
{
  text-decoration: none;
  color:darkgoldenrod;
  font-size: 20px;
  font-weight: bold;
  font-family:serif;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  border-style: solid;
  border-color: bisque;
}
.btnlogin2
{
  text-decoration: none;
  color:darkgoldenrod;
  font-size: 20px;
  font-weight: bold;
  font-family:serif;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 8%;
}
.btn2:hover
{
    background-color:black;

}
.container .login p{
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}
.div2
{
  font-size: 60%;
}
.div2 p{
  margin-top: 0.5%;
  margin-bottom: 2%;
  text-align: center;
  
}
.div2 p:hover
{
  color: bisque;
}
.btn2.admin ,.btn2.user
{
  margin: 1%;
  margin-top: 3%;
} 
.form-row {
  display: flex;
  align-items: center; /* Vertically center the items */
  gap: 3rem; /* Adds space between the checkbox and the button */
}

.form-check {
  display: flex;
  align-items: center;
}

.submit-btn {
  margin-left: auto; /* Align button next to the checkbox */
}

/*Poup Menu*/
.btn3 {
  font-size: 40px;
  cursor: pointer;
  text-align: right;
  top: 10px;        
  right: 5px;   
  padding-right: 4%; 
  padding-top: 0%;
}
.popup{
  position: absolute;
  width: 200px;
  right: 10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 1); /* Black background with 0.5 opacity */
  border: '1px solid #ccc';
  border-radius: 8px;
  padding-left: 0%;
  z-index: 1;
}
.popup-content li 
{
 display: block;
 padding: 15px;
 font-size: 20px;
 text-align: left;
 margin-left: 1px;
}
.iconlist
{
  margin-right: 10%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}
.btn4{
  color:bisque;
  text-decoration: none;
}
.btn4:hover{
  text-decoration: none;
}
/*Booking Main Content*/

.container .home{
  text-align: left;
  margin-left: 10%;
  font-size: 200%;
  margin-top: 0%;
  color: #ddd;
}
.home span
{
  color: rgb(238, 169, 9);
  font-weight: bold;
}
.container .home:hover {
   color: #ddd;
}
.scroller {
  height: 400px;
  overflow-y: scroll; 
  scroll-snap-type: x mandatory;/* Enables snap scrolling */
  max-height: 400px;  
  align-items: center;
  border-radius: 8px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.box {
  width: 90%;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 0%;
  margin: 20px;
  float: left;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(2, 5, 43, 0.7); /* Black background with 0.5 opacity */
}
.box:hover{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
}
.box .content3 {
  float: left; 
  width: 40%;
}
.content3 p{
  text-align:justify;
}
.content3 h2 ,h3{
  text-align:left;
}
.content3 p:hover{
  color: bisque;
}
.container .price p
{
  font-size:50%; 
}
.price {
  color:beige;
  display: flex; /* Use flexbox to control spacing */
  margin-top: 10%;
}
.price i {
  font-style: italic; /* Keep the italic style */
  margin-right: 10px; /* Adds space to the right of the italic text */
}
.price span {
  font-weight: bold; /* Make the price bold or any other style you prefer */
}
.box .content4 {
  float: right;
}
.content4 img{
  height: 300px;
  width: 460px;
  float:right;
  padding: 30px;
  padding-right: 20px;

}
.box .content5
{
  text-align: center;
  width: 40%;
  float: right;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.btn5
{   font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color:black;
    align-items: center;
    background-color:bisque;
    padding: 3%;
    border-style: none;
}
.btn5:hover
{
  color: rgb(238, 169, 9);
}

.room ul {
  list-style-type:square; /* Remove default bullets */
  padding: 0; /* Remove padding */
  margin: 10px 0 0 0; /* Add some margin */
}
.room ul li {
  padding-left: 20px; /* Add space between bullet and text */
  position: relative; /* To position the custom bullet */
  display: block;
  text-align: left;
  margin-bottom: 8px; /* Add space between list items */
  color:#ddd; /* Text color */
  font-weight: 500; /* Text weight */
  background: rgba(176, 147, 3, 0.082); /* Fallback color */
  background: rgba(243, 168, 5, 0.5); /* Black background with 0.5 opacity */
}
.room ul li:hover {
  background: rgb(222, 219, 19); /* Fallback color */
  background: rgb(222, 219, 19,0.1); /* Black background with 0.5 opacity */
}
.error-message {
  color: red;
  font-size:5px;
  font-style: italic;
}
/* CSS for modal overlay and form */
.booking-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.booking-form {
  background-color:black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}
.booking-form  h3{
text-align: center;
}
.close-btn {
 
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Additional styling */
.booking-form input[type="date"],
.booking-form input[type="number"] {
  padding: 8px;
  margin: 10px 0;
}
.booking-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.booking-form button:hover {
  background-color: #0056b3;
}
/*Ongoing */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 5px;
  text-align: left;
  color:beige;
}

tr:hover {
  background: rgb(218, 165, 32,0.7);
}
/*About Us*/
.container .about{
  margin: 0%;
  padding: 0%;
  font-size: 500%;
  margin-bottom: 2%;
}

.container .content .about:hover{
 color: bisque;
}

/* Image Box Styling */
.image-box {
  width: 20%;
  height: 60%;
  float: right;
  margin-right: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.image-box img{
  width: 100%;
  height: 100%;
}

/* Text Styling */
.textabout {
  bottom: 0;
  color: bisque;
  font-size: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  float: right;
  transition: background-color 1s ease-in-out;
}
.image-box .textabout:hover{
  color:bisque;
}
/* Keyframes for the image opacity */
@keyframes imageChange {
  0%, 25% {
      opacity: 1;
  }
  33%, 100% {
      opacity: 0;
  }
}

/* Keyframes for the text */
@keyframes textChange {
  0%, 25% {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.7);
  }
  33%, 100% {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
  }
}

/* Applying animations to the images (opacity) and text
.image-1 {
  animation: imageChange 8s infinite;
}
.image-2 {
  animation: imageChange 8s infinite 2s; 
}
.image-3 {
  animation: imageChange 8s infinite 4s;
}
.image-4 {
  animation: imageChange 8s infinite 6s;
*/

.text-1 {
  animation: textChange 8s infinite;
}
.text-2 {
  animation: textChange 8s infinite 2s; /* Delayed by 3 seconds */
}

.text-3 {
  animation: textChange 8s infinite 4s; /* Delayed by 6 seconds */
}
.text-4 {
  animation: textChange 8s infinite 6s; /* Delayed by 9 seconds */
}
.box1 {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1%;

}
/*Locate Us*/
.map
{ 
  margin-left: 10%;
  float:left;
}
.mapbtn
{
  float: right;
  width:50%;
  height:50%;
}
.address
{
  text-align: left;
  margin-left: 30%;
}
.mapbtn .address .btn
{
  margin-left: 0%;
  padding: 0% ;
}
/*offer*/
.offercontent4 img{
  height: 400px;
  float:left;
  padding: 30px;
  padding-right: 20px;
  width: 80%;
}
.box .offercontent3 {
  float: right; 
}
.offercontent3 p{
  text-align:justify;
  font-size: 200%;
}
.offercontent3 p:hover{
  color: bisque;
}
/*Nav page*/
.loginname
{ 
  text-align: right;
  font-size: larger;
  padding-top: 0.4ch;
  padding-right: 3.3ch;
}
.icon
{
  padding-left: 0.3ch;
  padding-top: 0.4ch;
  color:bisque
}
/*Review Page*/
.active
{
  color:darkgoldenrod;
}
.scrollerreview
{ 
  height: 400px;
  overflow-y: scroll; 
  scroll-snap-type: x mandatory;/* Enables snap scrolling */
  max-height: 400px;  
  align-items: center;
  border-radius: 8px;
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}
.boxreview{
  width: 30%;
  padding: 30px;
  padding-top: 5px;
  margin-top: 50px;
  margin-right: 90px;
  float:right;
  border-radius: 0.7ch;
  background: rgb(37, 34, 1); /* Fallback color */
  background: rgba(37, 34, 5, 0.7); /* Black background with 0.5 opacity */
}
.boxreview:hover{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
}
.review {
  width: 70%;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 0%;
  margin: 20px;
  float: left;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  border-radius: 5px;
}
.box .reviewcontent3 {
  float: right; 
}
.reviewcontent3 p,.reviewcontent3 h2{
  text-align:justify;
  font-size: 100%;
}
.reviewcontent3 p:hover{
  color: bisque;
}
.reviewcontent4 textarea {
    margin-top: 2ch;
    margin-bottom: 2ch;
}
.reviewcontent4 .row{
       margin-left: 0%;
       margin-top: 2ch;
}
/*Contact Us*/
.contact{
  float:left;
  text-align: left;
  margin-left: 5ch;
  padding: 2ch;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  border-radius: 2ch;
  margin-top: 3ch;
}
.contact h1{
  font-size: 3ch;
  padding-top: 0%;
  padding-bottom: 3ch;
}
.contact p{
  font-size:2.5ch;
  padding-bottom: 1ch;
}
.contact,.contact p:hover{
  color: beige;
}
.mapcontact
{
  text-decoration: none;
  color: beige;
}
.mapcontact:hover
{
  text-decoration: none;
  color:goldenrod
}
.contact .address
{
  margin-left: 1ch;
  margin-top: 3ch;
}
.contact .address:hover
{
  font-weight: bold;
}
.contactform input[type="email"]
 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 2%;
  width: 30ch;
}
.contactform textarea
 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 30ch;
}
.contactform
{
  float:right;
  margin-right: 15ch;
  margin-top: 7ch;
}
/*forgotpasword*/
.errorbtn
{
 font-size: 1.5ch;
 background: none;
 border:none;
 color: red;
 text-decoration: underline;
 cursor: pointer;
}
/*payments*/
.paybox {
    padding-top:1ch;
    padding-bottom:1ch;
    padding-left: 3ch;
    padding-right: 3ch;
    background: rgba(62, 53, 4, 0.7);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2ch;
}
.paybox p{
  font-family: 'Nunito', sans-serif;
  padding: 0.1ch;
  font-size:medium;
  text-align:left;
  align-items: center;
  margin-left: 10ch;
}
.paybox h2{
  font-family: 'Nunito', sans-serif;
  padding: 1ch;
  font-size:150%;
  text-align: left;
  font-weight: bold;
}
.cardElement{
background-color: aliceblue;
padding:1ch;
margin-bottom: 1ch;
}
/* booking cancelation*/
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  height: 50%; 
  margin-bottom: 10%;
  background: rgba(0, 0, 0); 
  border: 1px solid #ccc; /* Border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the popup */
  z-index: 1000; /* Ensure the popup appears on top */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

.model-content{
  font-size: 12px;
  text-align: left;
  margin-left: 1px;
  padding-top: 0ch;
  color: white; /* Text color for better visibility on the dark background */
}
/*password constrains*/
.tracker-box{
  background-color: #386489;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.09em;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  text-align: left;
}
.popup-message{
  position: 'absolute';
  background-color: '#f8d7da';
  color: '#721c24';
  border: '1px solid #f5c6cb';
  padding: '10px';
  border-radius: '5px';
  top: '100%';
  left: '100px';
  width: '100%';
  z-index: 1;
}




